<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>More Information</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Open Sans", sans-serif;
      }
      
    </style>
  </head>
  <body>
    <!-- Navbar section -->
    <nav
      class="navbar is-fixed-top is-danger"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="static/rose_logo_line_art_icon_illustration_logo_template.png"
            alt="Roseyflow Logo"
          />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarLinks"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navbarLinks">
        <div class="navbar-end">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/aboutus">About Us</a>
          <a class="navbar-item" href="/moreinfo">More Information</a>
        </div>
      </div>
      <hr class="is-white">
    </nav>

    <!-- Second section -->
    <section class="section hero is-fullheight is-danger">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">More Information!</h1>
          <p>
           The Menstruation cycle, or Rosey Cycle as we so lovingly refer to it as, is broken into 4 phases:
          <p>
          <br>
           The Mentrual, which is a subphase of the Follicular phase, occurs from days 1-5. Estrogen and Proestrogen are low during this phase as the uterus sheds its lining. 
           Different women experience a wide range of different symptoms, such as: cramping, a light-heavy flow, mood swings, and more.
          <p>
          <br>
           The cycle continues through the Follicular phase from days 6-14. Estrogen and Proestrogen both start to rise to prepare for ovulation; the releasing of the egg.
           Many women feel empowed and at their best during this stage.
          <p>
          <br>
           The next phase is the Ovulation period from days 15-17. Estrogen peaks during this phase, and Proestrogen continues to rise alongside Testosterone.
           A range of emotions is to be expected during this phase, all of which should be equally validated.
          <p>
          <br>  
          he final phase is the Luteal phase in the last 18-28 days before the period starts again. Estrogen and Proestrogen levels are still high but start to decrease.
           With the fluctuations in hormones, many women feel moody or especially sensitive during this phase. Again, all these emotions are still real, be easy on your self.
          <p>
        </div>
      </div>
    </section>
  </body>
</html>
